@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(20, 184, 166, 0.4);
    }

    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 15px rgba(20, 184, 166, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(20, 184, 166, 0);
    }
}

.pulse-animation {
    animation: pulse 1.5s infinite;
}

#progress-ring {
    transition: stroke-dashoffset 1s linear;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}