
Django==4.2.23
django-cors-headers
djangorestframework
django-allauth[socialaccount]
dj-rest-auth[with_social]
gunicorn
mysqlclient

# Authentication & APIs
google-auth
requests
PyJWT

numpy
librosa
joblib
scikit-learn

# Utilities
pypdf
python-dateutil
python-dotenv

